* {
  box-sizing: border-box;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 45px;
}

.rate-form {
  min-width: 650px;
  padding: 10px;
  border: solid 1px black;
}

.email-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border: solid 1px black;
}

.email-input {
  height: 45px;
}

.star-label {
  margin: 0;
}

.star-input {
  opacity: 0;
  margin: 0;
}

.star-font {
  cursor: pointer;
  font-size: 25px;
  transition: 0.3s;
  margin: 0;
}

.star-font:hover, .prev-star {
  color: gold;
}

.prev-star {
  text-shadow: 5px 10px 50px rgb(214, 1, 1);
}

.star-input:checked ~ .star-font {
  color: gold;
}

.stars {
  color: gold;
  font-size: 25px;
  text-shadow: 1px 1px 0 black;
}

.comment {
  background-color: rgb(216, 216, 216);
  height: auto;
  width: 300px;
  margin: 15px;
  border-radius: 15px;
}

.text-area {
  width: 100%;
  min-height: 120px;
  word-wrap: break-word;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0,.1);
  width: 100%;
}

.ratings {
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
}